$primary-color: #D41217;
$secondary-color: #0D3880;

$primary-dark: #0D3880;  // Azul oscuro, uno de los colores primarios que mencionaste antes
$secondary-dark: #1a1a1a;  // Un gris oscuro para el fondo
$highlight-color: #D41217;  // Rojo, otro color primario que mencionaste


$transition-time: 0.4s;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  // Establece los anchos máximos para diferentes puntos de interrupción
  @each $breakpoint, $max-width in $container-max-widths {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      max-width: $max-width;
    }
  }
}